.LoginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .LoginContainer {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .LoginTitle {
    margin-bottom: 2rem;
  }
  
  .Input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .LoginButton, .SignUpButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .LoginButton {
    background-color: #007bff;
  }
  
  .LoginButton:hover {
    background-color: #0056b3;
  }
  
  .SignUpButton {
    margin-top: 10px;
    background-color: #28a745;
  }
  
  .SignUpButton:hover {
    background-color: #1e7e34;
  }
  