.RecipesForm {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px; 
}

.RecipesForm form {
  display: flex;
  flex-direction: column;
}

.RecipesForm label {
  font-weight: bold;
  margin-top: 10px;
}

.RecipesForm input[type="text"],
.RecipesForm textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.RecipesForm button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.RecipesForm button[type="button"]:not(:last-child) {
  background-color: #007bff;
  color: white;
}

.RecipesForm button[type="button"]:last-child {
  background-color: #6c757d;
  color: white;
}

.RecipesForm button[type="button"]:hover {
  opacity: 0.9;
}

