/* Define colors and spacing using CSS variables */
:root {
  --primary-color: #FF6F61;           /* Coral Red */
  --secondary-color: #FFD166;         /* Pastel Yellow */
  --primary-hover-color: #E5989B;     /* Lighter Coral Red */
  --secondary-hover-color: #FFB169;   /* Lighter Pastel Yellow */
  --background-color: #FFFFFF;        /* White */
}

/* Apply background to the entire body */
body {
  background: var(--background-color);
}

/* Base styles for LoginWrapper and LoginContainer */
.LoginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.LoginContainer {
  padding: 50px; /* Increased padding for a bigger form */
  background: white; /* Use white background for the form container */
  border-radius: 10px;
  width: 100%; /* Use percentage for width to make it responsive */
  max-width: 600px; /* Set maximum width for larger screens */
  text-align: center;
}

/* Title and input styles */
.LoginTitle {
  margin-bottom: 2rem;
}

.Input {
  display: block;
  width: calc(100% - 40px); /* Adjusted width for better alignment */
  padding: 15px; /* Increased padding for inputs */
  margin: 10px auto; /* Center inputs horizontally */
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Button styles */
.LoginButton, .SignUpButton {
  width: inherit; /* Adjusted width for better alignment */
  padding: 15px; /* Adjusted padding for buttons */
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.LoginButton {
  background-color: var(--primary-color);
}

.LoginButton:hover {
  background-color: var(--primary-hover-color);
}

.SignUpButton {
  background-color: var(--secondary-color);
}

.SignUpButton:hover {
  background-color: var(--secondary-hover-color);
}

/* Media query for mobile devices (phones) */
@media (max-width: 576px) {
  /* Adjust LoginWrapper and LoginContainer styles for smaller screens */
  .LoginWrapper {
    padding: 20px; /* Add padding for spacing on smaller screens */
  }
  
  .LoginContainer {
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* Remove maximum width for full width */
  }
}
